.home-container {
    display: flex; 
  }

/* 卡片容器样式 */
.daily-report-container {
    display: flex; 
    flex-direction: column;
    height: calc(100vh - 175px); /* 让容器占满父元素 */
    /* overflow: auto; */
}

.half-width {
    flex: 1;
}

/* 卡片容器，使用网格布局来避免卡片被拉伸 */
.card-container {
    flex-grow: 1; /* 让卡片容器占据剩余空间 */
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr)); /* 设定每个卡片最小宽度为250px，并根据页面宽度自适应 */
    gap: 6px; /* 卡片之间的间距 */
    justify-items: center; /* 卡片居中排列 */
    overflow-y: auto; /* 启用滚动条，如果内容太多 */
    padding: 2px;
    background-color: #f9f9f9;
}

.ant-pagination {
    margin-top: 10px;
    /* position: relative;
    bottom: 1px; */
}
.ant-card-body {
    padding: 8px;
}


.card-item {
    max-width: 260px; /* 设置每个卡片的最大宽度 */
    width: 100%; /* 确保卡片填充父容器 */
    height: 305px; /* 高度自动适应内容 */
    border-radius: 8px; /* 添加圆角效果 */
    overflow: hidden; /* 确保内容不会溢出 */
}


.card-detail {
    flex-grow: 1; /* 让卡片容器占据剩余空间 */
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr)); /* 设定每个卡片最小宽度为250px，并根据页面宽度自适应 */
    gap: 5px; /* 卡片之间的间距 */
    justify-items: center; /* 卡片居中排列 */
    overflow-y: auto; /* 启用滚动条，如果内容太多 */
    padding: 5px;
    background-color: #f9f9f9;
    height: calc(100vh - 220px); /* 让容器占满父元素 */
}